* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arima', system-ui;
    text-decoration: none;
}

body {
    background-color: #ece8e4;
    position: relative;
    opacity: 1;
    height: 100dvh;
}


.logoStore {
    width: 180px;
    margin: 2rem 4rem;
}

header {
    position: fixed;
    height: 6rem;
    width: 100%;
    background-color: #ece8e4;
    top: 0%;
    z-index: 10;
    display: flex;
}

nav ul {
    display: flex;
    align-items: center;
    list-style: none;
    right: 6rem;
    top: 2rem;
    position: absolute;
}

nav a {
    color: #04837b;
    text-decoration: none;
    margin: 0 25px;
    font-size: 20px;
}

nav a:hover {
    color: #e2ae28;
    transition: 0.3s;
}

.hero img {
    width: 90%;
    height: 90dvh;
    display: block;
    margin: 5rem auto 0 auto;
}

.content-about {
    max-width: 100%;
    margin: 6rem 2rem 2rem 8rem;
    align-self: center;
    padding: 1rem;
    color: #09827a;
    font-size: 24px;
    position: absolute;
    top: 10%;
}

footer {
    text-align: center;
    z-index: 100;
    color: #09827a;
    width: 100%;
}

/* --- TABLET (Até 1024px) --- */
@media (max-width: 1024px) {
    body {
        height: auto;
    }

    .logoStore {
        width: 150px;
    }

    header {
        width: 100%;
        justify-content: space-between;
    }

    nav ul {
        gap: 1.5rem;
    }

    nav a {
        font-size: 16px;
        margin: 0 10px;
    }

    .content-about {
        max-width: 900px;
        margin: 8rem 2rem 0 8rem;
        color: #03645d;
        font-size: 24px;
        line-height: 3rem;
    }
}

/* --- MOBILE (Até 480px) --- */
@media (max-width: 480px) {
    body {
        height: auto;
    }

    .logoStore {
        width: 150px;
        margin: 5rem 1.5rem 1rem 1.5rem;
        transform: translateY(2rem);
    }

    header {
        height: auto;
        width: 100%;
        position: fixed;
        padding: 1rem 0;

    }

    nav ul {
    transform: translateX(2rem);
        width: 300px;
        gap: 1.3rem;
    }

    nav a {
        font-size: 14px;
        margin: 0 ;
    }

    .content-about {
        max-width: 450px;
        margin: -6rem auto 0 auto;
        font-size: 16px;
        position: absolute;
        top: 20%;
        line-height: normal;
    }

    .hero img {
        height: 750px;
        display: block;
        margin-top: 8rem;

    }

    footer {
        font-size: 12px;
        width: 90%;
        margin: -1rem auto 1rem auto;
    }
}